h1 {
    color: blue;
    font-family: arial;
    text-shadow: 2px 2px 5px grey;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

tr:nth-child(even) {background-color: #FFFFFF;}

#tablica1 {
    background-color: #D0D0D0;
    float: left;
}

p {
    color: grey;
    font-family: verdana;
}

#slika-suncokreti {
    float: left;
    border-style: solid;
    border-color: green
}